.head{
    color: #395886;
}
.btnContainer .loginBtn{
    background-color: #395886;
    color: #f0f3fa;
}
.btnContainer .loginBtn:hover{
    background-color:#f0f3fa ;
    color: #395886;
    border:1px solid #395886;
}