@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.navbar {
    background-color: #638ecb !important;
}

.nav-item .nav-link {
    color: #f0f3fa !important;
}

.navbar-brand {
    color: #f0f3fa !important;
}
.headerrr{
    color: #395886;
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800px;
  font-style: normal;
}